
# The purpose of MariaDB server settings is to: - define a directory where MariaDB stores all databases, tables and internal files.
#                                                 Is mounted to a Docker volume for data persistence.
#                                               - configure the UNIX socket used by local MariaDB clients inside the container.
#                                                 Allows local communication without using the network stack.
#                                               - Listen on all available network interfaces. Allow connections from any IP. This is 
#                                                 required so that the WordPress container can connect to MariaDB through the Docker network.
#                                               - specify the default MariaDB TCP port used by MariaDB. WordPress will connect to this 
#                                                 port using mariadb:3306
#                                               - ensure MariaDB runs with the correct system user

[mysqld]

datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock
bind-address = 0.0.0.0
port = 3306
user = mysql
